<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PreguntadOrt</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light shadow-lg" style="background-color: #007EA7;">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="@Url.Action("Index", "Home")">
            
                <img src="~/img/logo.png" alt="Logo PreguntadOrt" class="d-inline-block align-text-top" style="max-height: 50px;">
                PreguntadOrt
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="@Url.Action("ConfigurarJuego", "Home")">Jugar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        @RenderBody()
    </div>

    <footer class="footer mt-auto py-3 text-white text-center shadow-lg" style="background-color: #003459;">
        <div class="container">
            <span>&copy; 2024 PreguntadOrt. Todos los derechos reservados.</span>
        </div>
    </footer>
</body>

</html>
