html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
      font-size: 16px;
  }
}

body {
  margin: 10px;
  padding: 10px;
}

/* Estilo para el formulario de preguntas */
form {
  background-color: #FFFFFF; /* Fondo blanco */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añade un sutil borde */
  padding: 20px;
}

/* Botones de las respuestas */
.btn {
  background-color: #007EA7; /* Cerulean */
  color: white;
  font-size: 1.2em;
  padding: 10px;
  margin-bottom: 10px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn:hover {
  background-color: #00A7E1; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.card-header {
  background-color: #003459; 
  color: #FFFFFF; 
  font-size: 1.5em;
  padding: 15px;
}

.card-body {
  background-color: #FFFFFF; 
  color: #00171F; 
  font-size: 1.2em;
  margin-bottom: 15px;
}

footer {
  background-color: #003459; 
  color: #FFFFFF;
  border-top: 1px solid #e9ecef;
  padding: 20px;
}

@keyframes bounceIn {
  0% {
      opacity: 0;
      transform: scale(0.3);
  }
  50% {
      opacity: 1;
      transform: scale(1.05);
  }
  70% {
      transform: scale(0.9);
  }
  100% {
      transform: scale(1);
  }
}

.btn:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.bg-gradient {
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
}

.animate__animated.animate__fadeIn {
  animation-duration: 1.5s;
}

.animate__animated.animate__zoomIn {
  animation-duration: 0.8s;
}

.animate__animated.animate__pulse {
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}

